In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# file path
standard_stats_path = Path("standard_stats.csv")
defensive_stats_path = Path("defensive_actions.csv")
#goalkeeping_stats_path = Path("goalkeeping.csv")

In [3]:
#read in data
standard_stats = pd.read_csv("standard_stats.csv", encoding = "ISO-8859-1", engine='python')
defensive_stats = pd.read_csv("defensive_actions.csv", encoding = "ISO-8859-1", engine='python')
defensive_stats = defensive_stats.rename(columns={
    "ï»¿player": "player"
})
defensive_stats.head()

,player,nation,pos,squad,born,90s,tkl,tklw,def_3rd,mid_3rd,...,blocks,sh_blocks,shsv_blocks,pass_blocks,int,tkl_and_int,clr,err,year,league
0,Issah Abbas,gh GHA,FW,Mainz 05,1998.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,2020,German
1,David Abraham,ar ARG,DF,Eint Frankfurt,1986.0,4.7,5.0,4.0,1.0,3.0,...,13.0,2.0,0.0,11.0,5.0,10,12.0,0.0,2020,German
2,Amir Abrashi,al ALB,MF,Freiburg,1990.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,2020,German
3,Ragnar Ache,de GER,FW,Eint Frankfurt,1998.0,0.4,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0,1.0,0.0,2020,German
4,Tyler Adams,us USA,MF,RB Leipzig,1999.0,3.0,10.0,8.0,2.0,6.0,...,3.0,0.0,0.0,3.0,2.0,12,7.0,0.0,2020,German

In [4]:
#join first 2 stats
def_and_standard = standard_stats.merge(defensive_stats, how='left', on=['player', 'year'])
def_and_standard.tail()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls,ast,...,att_3rd_pressures,blocks,sh_blocks,shsv_blocks,pass_blocks,int,tkl_and_int,clr,err,league_y
28766,Nano,es ESP,"FW,MF",Cádiz,1995.0,1,0,9,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Spanish
28767,Álvaro Negredo,es ESP,FW,Cádiz,1985.0,7,6,454,2,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28768,Alberto Perea,es ESP,MF,Cádiz,1990.0,2,0,48,0,0.0,...,4.0,2.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,Spanish
28769,Jorge Pombo,es ESP,"FW,MF",Cádiz,1994.0,4,4,309,1,0.0,...,8.0,4.0,0.0,0.0,4.0,0.0,5.0,4.0,0.0,Spanish
28770,Salvi,es ESP,"MF,FW",Cádiz,1991.0,8,7,582,2,0.0,...,31.0,8.0,1.0,0.0,7.0,5.0,12.0,10.0,0.0,Spanish

In [5]:
#create path for passing
passing_stats_path = Path("passing.csv")
passing_stats = pd.read_csv("passing.csv", encoding = "ISO-8859-1", engine='python')
passing_stats.head()

,player,nation,pos,squad,born,90s,cmp_total,att_total,cmp_perc_total,tot_dist_total,...,cmp_perc_medium,cmp_long,att_long,cmp_perc_long,ast,ppa,crs_pa,prog,year,league
0,Issah Abbas,gh GHA,FW,Mainz 05,1998.0,0.0,2.0,2.0,100.0,51.0,...,100.0,1.0,1.0,100.0,0.0,0.0,0.0,0.0,2020,Germany
1,David Abraham,ar ARG,DF,Eint Frankfurt,1986.0,4.7,241.0,298.0,80.9,5027.0,...,87.9,44.0,71.0,62.0,0.0,3.0,2.0,20.0,2020,Germany
2,Amir Abrashi,al ALB,MF,Freiburg,1990.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,NaN,0.0,0.0,0.0,NaN,2020,Germany
3,Ragnar Ache,de GER,FW,Eint Frankfurt,1998.0,0.4,6.0,12.0,50.0,61.0,...,50.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2020,Germany
4,Tyler Adams,us USA,MF,RB Leipzig,1999.0,3.0,158.0,182.0,86.8,2448.0,...,90.4,9.0,15.0,60.0,0.0,0.0,0.0,15.0,2020,Germany

In [6]:
# combine data
def_stand_pass = def_and_standard.merge(passing_stats, how='left', on=['player', 'year'])
def_stand_pass.tail()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls,ast_x,...,att_medium,cmp_perc_medium,cmp_long,att_long,cmp_perc_long,ast_y,ppa,crs_pa,prog,league
32497,Nano,es ESP,"FW,MF",Cádiz,1995.0,1,0,9,0,0.0,...,1.0,100.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,Spanish
32498,Álvaro Negredo,es ESP,FW,Cádiz,1985.0,7,6,454,2,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32499,Alberto Perea,es ESP,MF,Cádiz,1990.0,2,0,48,0,0.0,...,8.0,100.0,0.0,2.0,0.0,0.0,1.0,1.0,2.0,Spanish
32500,Jorge Pombo,es ESP,"FW,MF",Cádiz,1994.0,4,4,309,1,0.0,...,28.0,78.6,7.0,16.0,43.8,0.0,5.0,0.0,8.0,Spanish
32501,Salvi,es ESP,"MF,FW",Cádiz,1991.0,8,7,582,2,0.0,...,48.0,58.3,12.0,36.0,33.3,0.0,8.0,6.0,8.0,Spanish

In [7]:
#shooting stats
shooting_stats_path = Path("player_shooting.csv")
shooting_stats = pd.read_csv("player_shooting.csv", encoding = "ISO-8859-1", engine='python')
shooting_stats.head()

,player,nation,pos,squad,born,90s,gls,sh,sot,sot_perc,sh_per_90,sot_per_90,g_per_Sh,g_per_sot,dist,fk,pk,pk_att,year,league
0,Patrick van Aanholt,nl NED,DF,Crystal Palace,1990.0,1.2,0.0,2.0,1.0,50.0,1.65,0.83,0.00,0.00,25.3,1.0,0.0,0.0,2020,English
1,Tammy Abraham,eng ENG,FW,Chelsea,1997.0,3.2,1.0,10.0,4.0,40.0,3.11,1.25,0.10,0.25,9.1,0.0,0.0,0.0,2020,English
2,Che Adams,eng ENG,FW,Southampton,1996.0,7.5,3.0,17.0,11.0,64.7,2.27,1.47,0.18,0.27,13.5,0.0,0.0,0.0,2020,English
3,Tosin Adarabioyo,eng ENG,DF,Fulham,1997.0,3.0,0.0,2.0,0.0,0.0,0.67,0.00,0.00,NaN,9.0,0.0,0.0,0.0,2020,English
4,AdriÃ¡n,es ESP,GK,Liverpool,1987.0,2.0,0.0,0.0,0.0,NaN,0.00,0.00,NaN,NaN,NaN,0.0,0.0,0.0,2020,English

In [8]:
#merge data
non_gk_stats = def_stand_pass.merge(shooting_stats, how='left', on=['player', 'year'])
non_gk_stats.tail()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls_x,ast_x,...,sot_perc,sh_per_90,sot_per_90,g_per_Sh,g_per_sot,dist,fk,pk_y,pk_att,league
40137,Nano,es ESP,"FW,MF",Cádiz,1995.0,1,0,9,0,0.0,...,NaN,0.00,0.00,NaN,NaN,NaN,0.0,0.0,0.0,Spanish
40138,Álvaro Negredo,es ESP,FW,Cádiz,1985.0,7,6,454,2,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40139,Alberto Perea,es ESP,MF,Cádiz,1990.0,2,0,48,0,0.0,...,0.0,7.50,0.00,0.00,NaN,20.3,2.0,0.0,0.0,Spanish
40140,Jorge Pombo,es ESP,"FW,MF",Cádiz,1994.0,4,4,309,1,0.0,...,27.3,3.20,0.87,0.09,0.33,21.0,0.0,0.0,0.0,Spanish
40141,Salvi,es ESP,"MF,FW",Cádiz,1991.0,8,7,582,2,0.0,...,50.0,1.24,0.62,0.25,0.50,15.1,0.0,0.0,0.0,Spanish

In [9]:
#cleaning data
non_gk_stats = non_gk_stats.dropna()
non_gk_stats.head()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls_x,ast_x,...,sot_perc,sh_per_90,sot_per_90,g_per_Sh,g_per_sot,dist,fk,pk_y,pk_att,league
26599,Aaron Cresswell,eng ENG,DF,West Ham,1989.0,36,35,3069,1,3.0,...,30.0,0.59,0.18,0.05,0.17,26.8,7.0,0.0,0.0,English
26600,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26601,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English
26602,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26603,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English

In [10]:
#updating the year column
non_gk_stats['year'] = non_gk_stats['year'].astype('int')
non_gk_stats.head()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls_x,ast_x,...,sot_perc,sh_per_90,sot_per_90,g_per_Sh,g_per_sot,dist,fk,pk_y,pk_att,league
26599,Aaron Cresswell,eng ENG,DF,West Ham,1989.0,36,35,3069,1,3.0,...,30.0,0.59,0.18,0.05,0.17,26.8,7.0,0.0,0.0,English
26600,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26601,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English
26602,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26603,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987.0,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English

In [11]:
non_gk_stats['born_x'] = non_gk_stats['born_x'].astype('int')
non_gk_stats.head()

,player,nation_x,pos_x,squad_x,born_x,mp,starts,min,gls_x,ast_x,...,sot_perc,sh_per_90,sot_per_90,g_per_Sh,g_per_sot,dist,fk,pk_y,pk_att,league
26599,Aaron Cresswell,eng ENG,DF,West Ham,1989,36,35,3069,1,3.0,...,30.0,0.59,0.18,0.05,0.17,26.8,7.0,0.0,0.0,English
26600,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26601,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English
26602,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987,14,13,1118,0,2.0,...,40.0,0.81,0.32,0.00,0.00,16.3,0.0,0.0,0.0,English
26603,Aaron Lennon,eng ENG,"MF,FW",Burnley,1987,14,13,1118,0,2.0,...,25.0,0.45,0.11,0.00,0.00,15.1,0.0,0.0,0.0,English

In [12]:
#output to csv

non_gk_stats.to_csv(r'non_gk_stats.csv', index = False)